<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBrWlKApAQ6ncJzVvrfCZUonp35orw4-0</string>
	<key>GCM_SENDER_ID</key>
	<string>498046852468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.rudeveloper.mySongbook.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-songbook-5fb9f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-songbook-5fb9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498046852468:ios:6d1e15fd4a7f1a4dbe6021</string>
</dict>
</plist>